{% extends "auctions/layout.html" %}

{% block body %}
{% if message %}
<div class="alert alert-success">{{ message }}</div>
{% endif %}
    <h2>All of Your Auctions</h2>
    <div class="row">
        {% for all_acution_item in all_acution_list %}
                <div class="col-sm-4">
                    <div class="card text-dark border-primary">
                        <h5 class="card-header">{{ all_acution_item.title }}</h5>
                        <div class="card-body">
                            <p class="card-subtitle mb-2 text-muted">Category : {{ all_acution_item.category.category }}</p>
                            <p class="card-text">Description : {{ all_acution_item.description }}</p>
                            <p class="card-text">Price : {{ all_acution_item.starting_price }}</p>
                            <div class="card-footer bg-transparent border-success">
                            <a href="{% url 'Edit_auction' pk=all_acution_item.id%}" class="btn btn-primary col-12">Edit Your Auction</a>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
{% endblock %}